@import url('topbar.css');

.branding-story {
	margin: 20px;
}

p {
	font-family: UbuntuNerd;
}

.highlight {
	color: #7E4B26;
	font-family: UbuntuBold;
	text-align: center;
	font-size: 20px;

	margin: 50px;
}