@font-face {
	font-family: "UbuntuNerd";
	src: url("fonts/UbuntuNerdFont-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "UbuntuBold";
	src: url("fonts/UbuntuNerdFontPropo-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.topbar {
	background: #00B5E2;
	height: 80px;
	margin: 0px 2px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topbar .left {
	display: flex;
}

.topbar .left h1 {
	font-family: UbuntuBold;
	color: white;
	text-align: left;
}

.topbar .right a {
	display: inline-block;
	text-decoration: None;
	color: black;
	background-color: #A3E7FC;
	border-radius: 10px;
	font-family: UbuntuNerd;
	transition: all 0.2s ease-in-out;

	padding: 10px;
	margin: 10px;
}

.topbar .right a:hover {
	background-color: #C1F1FF;
	transform: scale(1.05); 
}

.topbar .left img{
	width: 65px;
	height: 65px;

	transform: translateY(5px);

	margin: 2px;
}

body {
	background: linear-gradient(360deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 149, 255, 1) 100%);
	margin: 0px;
}
